flake8
black
autopep8
torchmetrics==0.7.0
lightning-flash[image]==0.7.1
albumentations==1.1.0
azure-core==1.19.0
azure-storage-blob==12.8.1
effdet==0.2.4
efficientnet-pytorch==0.6.3
ensemble-boxes==1.0.6
pytorch-toolbelt==0.4.4
pytorch-transformers==1.1.0
onnxruntime==1.6.0
optuna==2.10.0
pandas==1.1.4
pretrainedmodels==0.7.4
pytorch-lightning==1.4.9
pytorch-lightning-bolts==0.3.2
ray==1.6.0
segmentation-models-pytorch==0.2.0
timm==0.4.12
adamp==0.3.0
lightning-flash==0.7.1
ipywidgets==7.7.0
loguru==0.5.3
fastcore==1.4.1
effdet==0.2.4
fastai==2.5.5
seaborn==0.11.2
fastf1